*{
    color:#1d1717;
    margin:0;
    padding: 0;
}
body {
  background-image: url("./e1bg.jpg");
  padding: 40px 10% 20px 10%;
}

@font-face {
  font-family: Edwardian;
  src: url(ITCEDSCR.TTF);
}

.container {
  padding: 20px;
  border: 15px groove #d9d9d9;
  background: white;
}

.header {
  padding: 20px;
}
.headerImage {
  display: inline-block;
  width: 100;
  height: 75;
}
.headerText {
  display: inline-block;
  font-size: 50px;
  font-family: "Edwardian";
}

.link{
    padding: 7px;
}
.link a {
  color: red;
  display: inline-block;
}

.main{
    padding: 15px 35px 10px 35px;
}
.main h3,.main li{
    text-decoration: underline;
}

ul li{
    list-style-image:url("./e1calc.jpg");
    color:red;
    text-decoration-color: red;
}

.mainSerr {
  border: 3px solid #979b92;
  background-color: #ffbdad;
  margin-bottom: 15px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
